
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url();
}

header {
  color: white;
  text-align: center;
  padding: 30px 0;
}

.cadaReceta{
  flex-wrap: wrap;
}

.cadaReceta img{
  width: 30%;
}

  
.navegar li {
  list-style-type: none;
}

.navegar a {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  
}

.navegar {
  background-color: rgb(248, 167, 101);


}

.logo{
  width: 150px;
  box-sizing: border-box;
  border-radius: 80px;
  display: flex;
  padding: 30px;
  justify-content: left;
}