*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  font-family: Arial, sans-serif;
  
}

header {
  color: white;
  text-align: center;
}

.cadaReceta{
  flex-wrap: wrap;
  flex-direction: row;
}

.cadaReceta img{
  width: 30%;
}

  
.navegar {
  background-color: rgb(170, 32, 32);
  display: flex;
  margin-top: 0px;
}

.navegar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  align-content: center;
  padding: 0;
  margin: 0;
}

.navegar li {
  list-style-type: none;
  text-align: center;
  margin: 0 10px; 
}

.navegar a {
  text-decoration: none;
  color: black;
}

.navegar a:hover {
  color: antiquewhite;
}

.logo{
  width: 150px;
  box-sizing: border-box;
  border-radius: 80px;
  display: flex;
  justify-content: left;
  margin: 20px;
}

.banner{
  width: 100%;
}

.cadaReceta{
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
}

.lista-recetas{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}