*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  
  
  header {
    color: white;
    text-align: center;
  }
  
  .cadaReceta{
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .cadaReceta img{
    width: 30%;
  }
  
  
  .navegar {
    background-color: rgb(170, 32, 32);
    display: flex;
    margin-top: 0px;
  }
  
  .navegar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-content: center;
    margin-left: auto;
    margin-right: 30px;
    
  }
  
  .navegar li {
    list-style-type: none;
    margin: 0 10px; 
    background-color: rgba(239, 136, 136, 0.356);
    border-radius: 5px;
    padding: 20px;
  }
  
  .navegar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 30px;
  }
  
.navegar a:hover {
  color: antiquewhite;
}

.logo{
  width: 150px;
  box-sizing: border-box;
  border-radius: 80px;
  display: flex;
  justify-content: left;
  margin: 20px;
}

.banner{
  width: 100%;
}

.cadaReceta{
  border-radius: 5px;
  padding-bottom: 30px;
  width: 30%;
  text-align: center;
  margin: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3)
}

.cadaReceta a{
  text-decoration: none;
  background-color: rgb(197, 61, 61);
  padding: 5px;
  border-radius: 5px;
  color: antiquewhite;
}

.detalleHover:hover{
  color: rgb(24, 23, 23);
}
.cadaReceta p{
  padding: 10px;
}

.lista-recetas{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.cadaReceta img{
  width: 100%;
}

.buscar{
  width: 50px;
}

footer{
  background-color: rgb(170, 32, 32);
  display: flex;
  padding: 20px;
  border-radius: 10px;

}

.cargar-mas{
  display: flex;
  background-color: rgb(163, 43, 43);
  color: antiquewhite;
  padding: 10px;
  border-radius: 5px;
  justify-content: center;
  border-color: none;
}

.cargar-mas:hover{
  color: black;
}

.buscar button{
 width: 80px;

}

